# Application
NODE_ENV=development
WEB_PORT=3000
API_PORT=3001

# Public API
NFZ_API_BASE_URL=https://api.nfz.gov.pl/app-itl-api

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/terminradar_nfz

# Redis / BullMQ
REDIS_URL=redis://localhost:6379

# Auth
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret

# Mail
MAIL_PROVIDER=resend
RESEND_API_KEY=change-me
MAIL_FROM=TerminRadar NFZ <alerts@example.com>

